/* FOOTER */

footer {
	position:relative;
}
.copyright {
    background: #000;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: Averta;
    font-size: 18px;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto;
}
.container.footer-content {
    padding: 20px 15px 50px;
    color: #fff;
}
.footer-right h1 {
    /* margin-top: 50px; */
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px !important;
}
.subscribe-wrapper input[type="text"] {
    padding: 10px 20px;
    width: 100%;
    font-family: Averta;
    font-weight: bold;
    font-size: 25px;
    color: #666;
}
.subscribe-wrapper {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
}
.subscribe-wrapper button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 52px;
    width: 52px;
    background: #FF0202;
    border: none;
    padding: 0;
    line-height: 54px;
	outline:0 none;
}
.subscribe-wrapper i:before {
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    margin-left: 0;
    height: 54px;
    width: 59px;
	outline:0 none;
}
.footer-address p {
    font-size: 18px;
}
.footer-phone p {
    font-size: 20px;
    color: #ff2020;
    margin-bottom: 2px;
}
.footer-social img {
    margin-right: 10px;
    margin-bottom: 10px;
}
.frontpage footer {
    background: transparent;
    margin-top: -450px;
    /*margin-top: -580px;*/
}

.footer-phone a {
    color: #ff2020;
    text-decoration: none;
    transition: 0.3s all;
}
.subscribe-wrapper button i {
    transition: 0.3s all;
    /* cursor: pointer; */
}